img {
    max-height: 200px;
    /* Mantiene la relación de aspecto */
    width: auto;
    /* Asegura que la imagen se ajuste al contenedor sin distorsionarse */
    object-fit: contain;
    /* Centra la imagen dentro del contenedor */
    object-position: center;
    /* Elimina el espacio en línea alrededor de la imagen */
    display: block;
    /* Centra la imagen horizontalmente */
    margin: 0 auto;
    padding: 0.5rem;
    border-radius: 32px
}

.container img {
    max-width: 100%;
}

/****************** Seccion contacto ******************/
.custom-icon{
    color:var(--color-azul-01);
    font-size: 32px;
}

/****************** Seccion badge ******************/
.badge-custom {
    /* Cambia a flex o block */
    display: inline-block;
    /**padding superior/inferior + padding derecho/izquierdo */
    padding: 0.35em 0.4em;
    margin: 0.75em;
    /* Centra verticalmente */
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    /* Hace que el badge sea redondeado como un píldora */
    border-radius: 50rem;
    /* Color del texto dentro del badge */
    color: var(--color-blanco);
    /* Color de fondo del badge, puedes cambiar esto */
    background-color: var(--color-azul-01);
    /* Borde del badge, transparente por defecto */
    border: 1px solid transparent;

    /*font-size: 75%;
    font-weight: 700;
    line-height: 1;*/
}

.badge-custom:hover{
    background-color: var(--color-azul-02);
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.45)
}